:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
  background: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: absolute;
  color: white;
}
/* to be removed */
a {
  color: inherit;
  text-decoration: none;
}
/* end tbr */

.logo {
  display: flex;
  font-size: 2.4rem;
  padding-right: 0.8rem;
  margin-left: 1.6rem;
  margin-top: 1rem;
  font-family: var(--font-mono);
  color: white;
  max-width: max-content;
  border-right: fuchsia solid 0.6em;
  animation: animated-cursor 600ms steps(40, end) infinite;
}

/* Introduction */

#webgl {
  height: 100%;
  position: fixed;
  outline: none;
  z-index: -1;
}

.audio-btn {
  position: absolute;
  font-family: var(--font-mono);
  padding: 0.2em;
  top: 9vh;
  right: 3vw;
  z-index: 1;
}
.audio-btn:hover {
  cursor: pointer;
}

.scroll-down {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  width: 50px;
  border: red 7px dashed;
  transform: translate3d(-50%, -40px, 0) rotate(45deg);
}

.scroll-down:hover {
  background-color: #ffffff70;
  cursor: pointer;
}

.scroll-down span {
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  animation: animated-scroll-down 800ms linear infinite;
  opacity: 0;
}

.scroll-down span:nth-child(1) {
  transform: translate(-15px, -15px) scale(0.8);
  animation-delay: -350ms;
}
.scroll-down span:nth-child(2) {
  transform: translate(-10px, -10px);
  animation-delay: -150ms;
}
.scroll-down span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0ms;
}

.intro {
  position: absolute;
  max-width: fit-content;
  font-family: var(--font-mono);
  font-size: 1.6rem;
  top: 9vh;
  right: 3vw;
  left: 60vw;
}

.intro h2 {
  font-size: 2.4rem;
  padding-bottom: 0.7rem;
  color: white;
}

.intro p {
  color: white;
  border-top: solid 1rem;
  padding: 1rem 0;
  border-image: repeating-linear-gradient(135deg, black, orange, black 0.5rem)
    10;
}

.socials {
  position: fixed;
  font-size: 1.6rem;
  font-family: var(--font-mono);
  left: 3vw;
  max-width: fit-content;
  bottom: 5vh;
}

.socials h3 {
  padding-left: 1rem;
  border-left: lime 15px solid;
  margin-bottom: 1em;
  color: #f6f4eb;
}

.socials p {
  line-height: 140%;
  color: white;
}

.socials span {
  font-weight: bolder;
}

.socials ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 2.5em 0;
}

.socials li img {
  border: double orange 5px;
  padding: 0.5rem;
  border-radius: 15%;
  /* To be removed */
  /* filter: drop-shadow(12px 12px 5px fuchsia); */
  /* filter: invert(100%); */
}

.socials li:last-of-type img {
  border: double black 5px;
  filter: invert(100%);
}

.socials a[href^='mailto'] {
  text-decoration: underline;
  color: #a7e9f9;
}

.socials a[href^='mailto']:hover {
  text-decoration: none;
  background: #f6f4eb;
  color: #75a2d0;
}
/* to be rm */
/* socials stylistic lining{
  border-top: solid 1.6rem;
  border-image: repeating-linear-gradient(135deg, black, white, black 1.2rem) 25;
} */
@keyframes animated-cursor {
  from {
    /* to be rm */
    /* border-right-color: rgba(0, 255, 0, 0.75); */
    border-right-color: fuchsia;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes animated-scroll-down {
  from {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(0.6);
  }

  to {
    top: 3px;
    left: 3px;
    opacity: 0;
    transform: scale(1.2);
  }
}

/* Tablet */
@media screen and (max-width: 80em) {
  #webgl {
    position: initial;
  }

  .audio-btn {
    padding: 0.5em;
    top: 2.5vw;
  }

  .scroll-down {
    display: initial;
  }

  .logo {
    margin: 1.2rem;
    font-size: clamp(0.9rem, 3vw, 2.4rem);
  }

  .intro {
    position: initial;
    max-width: 75vw;
    margin-left: 2em;
  }
  .intro h1 {
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    padding-bottom: 1rem;
  }

  .intro p {
    border-top-width: 1.2rem;
    padding-top: 2rem;
  }

  .intro ul {
    color: white;
  }

  .socials {
    position: initial;
    margin-top: 3em;
    margin-left: 2em;
    max-width: fit-content;
  }
}

/* Mobile */
@media screen and (max-width: 29em) {
  .intro {
    position: initial;
    max-width: fit-content;
    margin: 1.5em;
  }

  .socials {
    margin: unset;
    max-width: initial;
    margin: 0 1.5em;
  }

  .socials ul {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 25em;
  }
}
