body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 8px;
}

.title {
    width: 45%;
}
#c {
    display: block;
    width: 100vw;
    height: 100vh;
}

#name {
    font-weight: bold;
}

#background {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    border: none;
    pointer-events: none;
}

.resolve {
    color: #121212;
    border-right: solid 8px fuchsia;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 320px;
    animation: animated-text 7s steps(40, end) 1s normal both paused,
        animated-cursor 600ms steps(40, end) infinite;
}

h2 {
    border-top: dashed 2px limegreen;
    font-weight: lighter;
    font-size: 16px;
    max-width: max-content;
    padding: 15px 10px;
    margin-bottom: 5px;
}

.overlay {
    background-color: whitesmoke;
    opacity: 0.45;
    border-radius: 10px;
}

.info h3 {
    margin-top: 0;
}

.info {
    visibility: visible;
    color: #121212;
    max-width: 100%;
    padding: 0px 10px;
    animation: animated-info 2s;
}

.nav {
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    max-width: 25%;
    padding: 10px 0;
}

.nav a {
    color: whitesmoke;
}

li {
    padding: 15px;
    border-radius: 1px;
    margin-bottom: 15px;
    color: #121212;
    border-left: solid 10px limegreen;
    list-style: none;
    transition: 0.4s;
}
li:hover {
    background-color: greenyellow;
    opacity: 0.75;
}
a {
    color: inherit;
    text-decoration: none;
}
.links {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
}

.links i {
    padding: 0px 15px;
}

.fab:hover {
    opacity: 0.8;
    color: orangered;
}
.far:hover {
    opacity: 0.8;
    color: orangered;
}

/* text animation */
@keyframes animated-text {
    from {
        width: 45px;
    }
    to {
        width: 320px;
    }

    0%,
    20% {
        width: 45px;
    }
    40%,
    100% {
        width: 320px;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        /* border-right-color: rgba(0, 255, 0, 0.75); */
        border-right-color: fuchsia;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes animated-info {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: whitesmoke;
    }

    .container {
        margin: 0 25px;
    }

    #background {
        position: fixed;
        display: block;
        margin-left: 35%;
        width: 60vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: -1;
        border: none;
        pointer-events: none;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 22px;
    }

    .overlay {
        visibility: collapse;
        opacity: 0.8;
    }

    .info {
        visibility: visible;
        color: slategray;
        max-width: 45%;
    }
    .resolve {
        /* border: whitesmoke solid 1px; */
        color: #121212;
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
        border-right: solid 12px fuchsia;
        white-space: nowrap;
        overflow: hidden;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 610px;
    }

    .nav {
        visibility: visible;
    }

    /* text animation */
    @keyframes animated-text {
        from {
            width: 80px;
        }
        to {
            width: 610px;
        }

        0%,
        20% {
            width: 80px;
        }
        40%,
        100% {
            width: 610px;
        }
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape){
.info {
    visibility: visible;
    color: #121212;
    max-width: 100%;
    padding: 0px 10px;
    animation: animated-info 2s;
    font-size: 14px;
}